<!DOCTYPE html>

<html>
<div style="width:900px; margin:0 auto; text-align:center;">
    <canvas id="myCanvas" width="800" height="300"></canvas>
    <button class="button" onlcick()=editprof()>&#128393; Edit Profile</button>

</div>
<div style="width:900px; margin:0 auto; text-align: center;">
    <button class="toggle" id="overview" value="view" onclick="toggle()">Overview</button>
    <button class="toggle" id="stats" value="hide" onclick="toggle()">Stats</button>

</div>
<div id="summary" style="width:900px; margin:0 auto;text-align: center;">
  <p></p>
  <canvas id="pro1" width="800" height="150"></canvas>
  <p></p>
  <canvas id="pro2" width="800" height="150"></canvas>
</div>
<div style="width:900px; margin:0 auto; text-align: center;">
    <p></p>
    <canvas id="graph1" width="300" height="200"></canvas>

</div>


</html>
