.content {
  position: absolute;
  width: 100vw;
  top: 0px;
  height: 100%;
  padding: 0 0.67rem;
  box-sizing: border-box;
  overflow: auto;
}

.content--top-level-transition-enter .top-level {
  opacity: 0;
  transform: scale(0.97);
}
.content--top-level-transition-enter-active .top-level {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.15s cubic-bezier(0, 0, 0.2, 1);
}
.content--top-level-transition-exit .top-level {
  opacity: 1;
}
.content--top-level-transition-exit-active .top-level {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.content--to-right-transition-enter .to-right {
  opacity: 0;
}
.content--to-right-transition-enter-active .to-right {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.content--to-right-transition-exit .to-right {
  opacity: 1;
}
.content--to-right-transition-exit-active .to-right {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.content--fade-transition-enter .fade {
  opacity: 0;
}
.content--fade-transition-enter-active .fade {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.content--fade-transition-exit .fade {
  opacity: 1;
}
.content--fade-transition-exit-active .fade {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-content {
  position: absolute;
  z-index: 9999;
  height: 100%;
}

.content--pop-up-transition-enter .pop-content {
  position: absolute;
  transform: translateY(100vh);
}
.content--pop-up-transition-enter-active .pop-content {
  transform: translateY(0vh);
  transition: transform 0.34s cubic-bezier(0, 0, 0.24, 1);
}
.content--pop-up-transition-exit .pop-content {
  transform: translateY(0vh);
}
.content--pop-up-transition-exit-active .pop-content {
  transform: translateY(100vh);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1);
}

h1.heading {
  font-family: CircularStd, Nanum Square, serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0.67em 0;
}
