.content {
  position: absolute;
  width: 100vw;
  top: 0px;
  height: calc(100 * var(--vh));
  padding: 0 0.67rem calc(56px + 1.67rem);
  box-sizing: border-box;
  overflow: auto;
  color: #14171a;
  background-color: #eff1f2;
}

.content--top-level-transition-exit .top-level {
  opacity: 1;
}
.content--top-level-transition-exit-active .top-level {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.content--top-level-transition-enter .top-level {
  opacity: 0;
  filter: brightness(107%);
  transform: scale(0.94) translateX(3vw);
}
.content--top-level-transition-enter-active .top-level {
  opacity: 1;
  filter: brightness(100%);
  transform: scale(1) translateX(0);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1), filter 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.15s cubic-bezier(0, 0, 0.2, 1);
}

.content--to-right-transition-enter .to-right {
  position: absolute;
  height: calc(100 * var(--vh));
  transform: translateX(100vw);
}
.content--to-right-transition-enter-active .to-right {
  transform: translateX(0vw);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.content--to-right-transition-exit .to-right {
  height: calc(100 * var(--vh));
  transform: translateX(0vw);
}
.content--to-right-transition-exit-active .to-right {
  transform: translateX(100vw);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.content--to-right-transition-enter .to-right-no-back {
  position: absolute;
  height: calc(100 * var(--vh));
  transform: translateX(100vw);
}
.content--to-right-transition-enter-active .to-right-no-back {
  transform: translateX(0vw);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.content--fade-transition-enter .fade {
  opacity: 0;
}
.content--fade-transition-enter-active .fade {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.content--fade-transition-exit .fade {
  opacity: 1;
}
.content--fade-transition-exit-active .fade {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-content {
  position: absolute;
  z-index: 999;
  height: 100%;
}

.content--pop-up-transition-enter .pop-content {
  top: 0 !important;
  transform: translateY(calc(100 * var(--vh))) !important;
}
.content--pop-up-transition-enter-active .pop-content {
  top: 0 !important;
  transform: translateY(0vh) !important;
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1) !important;
}
.content--pop-up-transition-exit .pop-content {
  top: 0 !important;
  transform: translateY(0vh) !important;
}
.content--pop-up-transition-exit-active .pop-content {
  top: 0 !important;
  transform: translateY(calc(100 * var(--vh))) !important;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1) !important;
}

h1.heading {
  font-family: CircularStd, NotoSans, serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0.67em 0;
  font-size: 2em;
  color: #3b3e43;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.search-container label {
  position: absolute;
  font-size: 1.1rem;
  bottom: 0.6rem;
  margin-left: 0.5rem;
  cursor: text;
  opacity: 0.78;
  transition: font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.15s cubic-bezier(0.2, 0, 0.2, 1);
}
.search-container input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px 0px, rgba(0, 0, 0, 0.08) 0px 1px 10px 0px,
    rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-container.active label {
  font-size: 0.8rem;
  transform: translateY(-1.4rem);
  margin-left: 0.5rem;
}
.search-container.active input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 10px 1px, rgba(0, 0, 0, 0.08) 0px 6px 10px 1px,
    rgba(0, 0, 0, 0.03) 0px 5px 5px -3px;
}

tspan {
  font-family: NotoSans, Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif !important;
}
