html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  overflow: hidden;
}
/* https://stackoverflow.com/questions/18061308/prevent-address-bar-hiding-in-mobile-browsers */
html {
  background-color: #fcfcfc;
  overflow: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
}
body {
  height: calc(100% + 56px);
  position: fixed; /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
}
body.desktop {
  height: calc(100%);
  overflow-y: auto;
}
